<ul class="list-inline">
    <li><a href="https://github.com/iamjonathanpumares" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-fw fa-github"></i></a>
    </li>
    <li><a href="http://mx.linkedin.com/in/jepumares/es" class="btn-social btn-outline" title="LinkedIn"><i class="fa fa-fw fa-linkedin"></i></a>
    </li>
    <li><a href="https://twitter.com/3jonapumares" class="btn-social btn-outline" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
    </li>  
</ul>